<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registrarse</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
 <form [formGroup]="registerForm" (ngSubmit)="saveData( $event )" novalidate>
    <ion-list>
      <ion-item>
        <ion-label stacked>Correo:</ion-label>
        <ion-input type="email" placeholder="Ej: mail@mail.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty">
        <p color="primary" *ngIf="registerForm.get('email').hasError('required')">Campo requerido</p>
        <p color="primary" *ngIf="registerForm.get('email').hasError('pattern')">No es un email valido</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Edad:</ion-label>
        <ion-input type="number" placeholder="Ej: 21" formControlName="age"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('age').errors && registerForm.get('age').dirty">
        <p color="primary" *ngIf="registerForm.get('age').hasError('required')">Campo requerido</p>
        <p color="primary" *ngIf="registerForm.get('age').hasError('isold')">tienes que ser mayor</p>
      </ion-item>
      <div formGroupName="passwordGroup">
        <ion-item>
          <ion-label stacked>Password:</ion-label>
          <ion-input type="password" placeholder="Ej: 123345" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.get('passwordGroup').get('password').errors && registerForm.get('passwordGroup').get('password').dirty">
          <p color="primary" *ngIf="registerForm.get('passwordGroup').get('password').hasError('required')">Campo requerido</p>
          <p color="primary" *ngIf="registerForm.get('passwordGroup').get('password').hasError('minlength')">Minimo 6 campos</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>Confirmar Password:</ion-label>
          <ion-input type="password" placeholder="Ej: 123345" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.get('passwordGroup').get('confirmPassword').errors && registerForm.get('passwordGroup').get('confirmPassword').dirty">
          <p color="primary" *ngIf="registerForm.get('passwordGroup').get('confirmPassword').hasError('required')">Campo requerido</p>
          <p color="primary" *ngIf="registerForm.get('passwordGroup').get('confirmPassword').hasError('minlength')">Minimo 6 campos</p>
        </ion-item>
        <ion-item *ngIf="registerForm.get('passwordGroup').errors && registerForm.get('passwordGroup').get('confirmPassword').dirty">
          <p color="primary">Las constraseñas no son iguales</p>
        </ion-item>
      </div>
    </ion-list>
    <div padding>
      <button ion-button block  type="submit" icon-left [disabled]="registerForm.invalid">
        <ion-icon name="log-in"></ion-icon>
        Registrarse
      </button>
    </div>
  </form>
</ion-content>