<ion-menu id="menu" [content]="content">
  <ion-content>
    <ion-list>
      <ion-list-header>
        Gallery
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of menuPages" (click)="openTabPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Tasks
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of taskPages" (click)="openTasksPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{page.title}}
      </button>
      <button ion-item menuClose (click)="logout()">
        <ion-icon item-left name="close"></ion-icon>
        Cerrar sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
